.card .buyBtn {
  background-color: #F48484;
  border: none;
  float: right;
}

.card .price {
  font-weight: bold;
  font-size: 1.2rem;
  color: red;
}

.title {
  height: 50px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.image {
  object-fit: fill;
  width: 286px;
  height: 286px;
}

.buyBtn:hover {
  background-color: #F94A29;
}