.product_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin: 2rem;
}

.btnContainer {
    width: 100%;
    margin: auto;
    text-align: center;
}

.showmoreBtn {
    margin-bottom: 2rem;
    width: 20%;
    background-color: #F48484;
    border: none;
}

.showmoreBtn:hover {
    background-color: #F94A29;
}
